<p class="name">
	<span>{{name}}</span>
	<span class="delete">&times;</span>
</p>
<div><span class="label label-danger">Error</span> Filetype not allowed</div>
<input type="hidden" name="data[Upload][Upload][]" value="{{id}}" id="UploadUpload{{id}}"></div>
