.blueupload input[type="file"] {
	width:98px;
	height:34px;
	left:0;
	right: auto;
}

.blueupload .thumbnails {
	margin: 25px -8px;
}
.blueupload	.img-thumbnail {
	margin: 6px;
	position: relative;
	min-width: 250px;
}
.blueupload [data-delete] {
	font-size: 2.5em;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 2%;
	top: -5%;
	display: none;
	color: red;
}
.blueupload .thumb:hover [data-delete] {
	display: block;
}
.blueupload .thumb {
	float: left;
}
